.channel-list .channel-names{
	font-size: 16px;
	padding-left: 10px;
}

.channel-list .channel-logo{
	width: 60px;
}

.channel-list{
	height: 410px; 
	overflow-x: hidden;
}

.mosaic-title{
	padding-top:10px;
	padding-bottom: 5px;
}

footer{
margin-top: 5%;
padding-top: 60px;
background: #000;
border-top: 2px solid;
border-color: rgb(156, 61, 61);
padding-bottom: 60px;
}

#error-area{
	z-index: 100;
	position: fixed;
	margin: 40px;
	right: 10px;
}

.navbar-inner{
	padding-top: 5px;
	padding-right: 30px;
}

#wrap{
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -60px;
}

.pagination a{
	color: white;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.footer-img{
	width:100px;
}

.top-logo{
	width: 60px;
	padding-top:3px;
}