<div class="row">
<div class="pagination pagination-centered">
  <ul>
    <li><a href="" ng-click="lastPage()">Prev</a></li>
    <li ng-repeat="page in pages"><a href="" ng-click="setCurrentPage({{$index}})">{{$index}}</a></li>
    <li><a href="" ng-click="nextPage()">Next</a></li>
  </ul>
</div>
<!-- SILVERLIGHT PLAYER -->
 <div class="span6 player" style="height:280px" ng-repeat="channel in pages[currentPage]">
 	  <h5 class="mosaic-title" >{{channel.LongName}}</h5>
    <ovp channelId='{{channel.id}}' height="80%"></ovp>
</div>
</div>